{% load staticfiles angular_utils%}
<script src='{% static 'js/like.js' %}'></script>
{% load thumbnail %}
{% if posts.count > 0 %}
{% for post in posts %}
<li class="col-md-4 products">
    <a href="{% url 'post_detail' pk=post.pk %}">

        {% thumbnail post.post_image "333x215" crop="center" as im %}
        <div class="postimage" style="background-image: url({{ im.url }});">
        {% empty %}
        <div class="postimage" style="background-image: url(http://placehold.it/333x215);">
        {% endthumbnail %}
            <div class="prices row">
                {% if post.past_price %}
                <div class="pastprice"><strike>{{ post.past_price }}</strike></div>
                {% else %}
                <div class="pastprice" style="display: none;"><strike>{{ post.past_price }}</strike></div>
                {% endif %}
                <div class="price">{{ post.price }}</div>
                <div class="more"><a class='more-a' href="{% url 'post_detail' pk=post.pk %}">Подробнее</a></div>
            </div>
            <div class="likes">
              <span>
                {% if request.user.is_authenticated %}
                  {% if request.user|is_liked:post.id %}
                <img class='like_img' prt='{{ post.title }}' psi='{{ post.id }}' style='cursor:pointer' src='/media/heart-red.png' width='20px' alt="">
                  {% else %}
                  <img class='like_img' prt='{{ post.title }}' psi='{{ post.id }}' style='cursor:pointer' src='/media/heart.png' width='20px' alt="">
                  {% endif %}
                {% else %}
                <img class='like_img' prt='{{ post.title }}' psi='{{ post.id }}' style='cursor:pointer' src='/media/heart.png' width='20px' alt="">
                {% endif %}
              </span>
              <span class="likecount id{{ post.id }}">
                {{ post.true_likes }}
              </span>
            </div>

        </div>

        <div class="productinfo">
            <span class="productname">{{ post.title }}</span><br>
            <p class="productdescr">{{ post.short_text }}</p>
        </div>
    </a>
</li>
{% endfor %}
<script>
$('.like_img').ready(function(){
  $('.like_img').click(function(){
    if($(this).attr('src') == '/media/heart.png'){
      $(this).attr('src', '/media/heart-red.png');
    }else if($(this).attr('src') == '/media/heart-red.png') {
      $(this).attr('src', '/media/heart.png');
    }
  })
})
</script>
{% else %}
    <li>None to show</li>
{% endif %}
