{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block tabsCss %}
<link rel="stylesheet" href="{% static 'css/PDtabs.css' %}">
<link rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock %}
{% csrf_token %}
{% load angular_utils %}
{% load staticfiles %}
{% load thumbnail %}
{% block postslider %}
    <div class="sliderwrapper">
    <div class="sliderwrapper__header">
        <p>{{ post.title }} - {{ post.short_text }}</p>
    </div>
    <span style="font-size: 20px; display: inline-block; margin-top: 10px; margin-bottom: 10px;">{{ post.title }} - {{ post.short_text }}</span>
    <div class="slider" style="overflow: hidden; width: 560px; height: 300px;">
        <ul class="ulslider" style="left: 0; padding: 0; margin: 0; height: 300px; width: 560px; position: relative; ">
            <li class="lislider active_li" style="position: absolute; left: 0; top: 0; bottom: 0; right: 0; width: 560px; height: 300px; margin: 0; padding: 0; display: inline-block; background-image: url(http://placehold.it/560x301)"></li>
            <li class="lislider" style="position: absolute; left: 0; top: 0; bottom: 0; right: 0; width: 560px; height: 300px; margin: 0; padding: 0; display: inline-block; background-image: url(http://placehold.it/560x302)"></li>
            <li class="lislider" style="position: absolute; left: 0; top: 0; bottom: 0; right: 0; width: 560px; height: 300px; margin: 0; padding: 0; display: inline-block; background-image: url(http://placehold.it/560x303)"></li>
        </ul>
        <span class="prev" style="position: relative; top: -30px; cursor: pointer;"><img src="{% static 'icons/ic_keyboard_arrow_left_black_18dp_1x.png' %}" alt=""></span>
        <span class="next" style="position: relative; top: -30px; right: 5px; cursor: pointer;"><img src="{% static 'icons/ic_keyboard_arrow_right_black_18dp_1x.png' %}" alt=""></span>
    </div>
    <div class="add_to_cart" style="display: inline-block; text-align: center; position: absolute; top: 85px; right: 20px; width: 420px;" ng-controller="myCtrl" ng-init="myCtrl.init({{ post.price }})">
        <div class="post_price" style="font-size: 45px; font-weight: bold;">{{ post.price }}</div>
        <form class='add' action='/add_to_cart/{{post.id}}/1'>
            <div style="display: inline-block;" class="quant"><input type="number" class='amount' value="1" pi='{{ post.id }}' pr='{{ post.price }}' title="Введите число от 1 до 10" required min="1" max="10" style="padding-left: 4px; border-radius: 4px; width: 50px; outline: none; border: 2px solid #F38181; height: 20px; line-height: 20px;"></div>
            <input type="submit" value="В корзину" class="add_to_cart_link"></input>
        </form>
    </div>
    </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block postcontent %}
    <div id="tabs" class='postcontent'>
      <div class="postcontent__header">
        <ul>
          <li><a href="#tabs-1">Профиль</a></li>
          <li><a href="#tabs-2">Отзывы</a></li>
        </ul>
      </div>
      <div id="tabs-1">
            <div class="postdescription">
                {{ post.text | safe  }}
            </div>
        <br>
            <div id="map" style='width: 500px; height: 400px; float: right;'></div>
      </div>
      <div id="tabs-2">
        <div class="all_comments" style='margin-bottom: 20px;'>
          {% for i in p %}
          <div class="the_comment">
            <span class='comment_author'><a href="/user/{{ i.author.id }}/">{{ i.author }}</a></span><span class="date">{{ i.ts }}</span> <br>
            <span class='comment_text'>{{ i.text }}</span>
          </div>
          {% endfor %}
        </div>
        <div class="add_comment">
          <textarea name="comment" id='comment' style='width: 600px; padding: 5px; font-size: 14px; height: 60px; resize: none;'></textarea>
          {% if request.user.is_authenticated %}
            <span style='padding: 5px 20px; position: relative; top: -30px; background: #2B2E4A; border-radius: 9px; color: #fff; cursor: pointer;' class='comment_send' psi='{{ post.id }}'>send</span>
          {% else %}
            <span style='padding: 5px 20px; position: relative; top: -30px; background: #2B2E4A; border-radius: 9px; color: #fff; cursor: pointer;' class='comment_send' psi='{{ post.id }}'><a href="/accounts/login/">send</a></span>
          {% endif %}
        </div>
      </div>
    </div>
    <script>
    $(function() {
      $("#tabs").tabs();
    });
    </script>
    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="https://raw.githubusercontent.com/HPNeo/gmaps/master/gmaps.js"></script>
    <script>
    function initMap(){
      map = new GMaps({
      div: '#map',
      zoom: 14,
      lat: {{ post.lat|safe }},
      lng: {{ post.lon|safe }},
    });
    map.addMarker({
      lat: {{ post.lat|safe }},
      lng: {{ post.lon|safe }},
      title: '{{ post.name }}',
      infoWindow: {
        content: '<p>HTML Content</p>'
      }
    });
  }
        // function initMap() {
        //   var mapDiv = document.getElementById('map');
        //   var map = new google.maps.Map(mapDiv, {
        //     center: {lat: 43.31962, lng: 45.69744},
        //     zoom: 15
        //   });
        // }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
          async defer></script>
    {% endblock %}
    <script>
//        var ulChildren = ($('.ulslider').children().toArray());
//        var itemsArray = [];
//            for(i = 0; i < ulChildren.length; i++){
//                itemsArray.push(ulChildren[i]);
//            }
//        console.log(ulChildren);
//        console.log(itemsArray);
//
//        $('.prev').click(function(){
//            console.log("qwwqd");
//            if(('lislider active_li') == ulChildren[0].className){
//
//            } else {
//                for(i = 0; i < ulChildren.length; i++){
//                    if(ulChildren[i].className == 'lislider active_li'){
//                        var active = ulChildren[i];
//                    }
//                }
//                $(ulChildren[indexoftive+1]).addClass('active_li');
//                $(ulChildren[active+1]).addClass('active_li');
//            }
//
//        })
    </script>



<!--  use0 thumbnail -->
